<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352900917771-vde73gs0t6bm2hbms9oao54871mhq8oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352900917771-vde73gs0t6bm2hbms9oao54871mhq8oh</string>
	<key>API_KEY</key>
	<string>AIzaSyA2tjDwBiBFaAfv6FhNEiFW6oMdvH-WQ1o</string>
	<key>GCM_SENDER_ID</key>
	<string>352900917771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.Staylinked</string>
	<key>PROJECT_ID</key>
	<string>staylinked-df641</string>
	<key>STORAGE_BUCKET</key>
	<string>staylinked-df641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352900917771:ios:ce93261ad881ba466e750e</string>
</dict>
</plist>